
#imgAvatar img {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

div.media-body {
  padding-left: 20px;
  padding-top: 15px;
}

input#attachFile {
  display: none;

}

.progressBar {
  margin-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
