<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">

      <div class="media">
        <div id="imgAvatar" class="" style="float:left">
            <img class="img-responsive media-object" src="{{ getCurrentUser().img }}" alt="...">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ getCurrentUser().name }}</h4>
          <h5>@{{ getCurrentUser().username }}</h5>
          <h3 class="text-left">New grapp</h3>
        </div>
      </div>

    </div>
    <div class="panel-body">

      <form class="form" name="form" ng-submit="newGrapp(form)" novalidate>
        <textarea class="form-control nput-lg" ng-model="newGrapp.grapp" rows="3" placeholder="Write your new grapp thanking to / for"></textarea>
        <br>


          <!-- <input id="attachFile" type="file" class="form-group">
          <div class="input-append col-xs-3">
            <input id="photoCover" ng-model="newGrapp.attachUrl" class="input-large" type="text" ng-hide="true">
            <a class="btn btn-info" onclick="$('input[id=attachFile]').click();">Attach</a>
          </div> -->


          <div class="col-xs-3 form-group">
            <div class="btn btn-info " ngf-select ng-model="files" ngf-multiple="true" accept="image/*">Attach</div>
                  <!-- <label for="photos">Input Picture</label> -->
                  <!-- <input type="text" class=""  ng-hide="true" > -->
                  <!-- <p class="help-block">Select pictures</p> -->

            </div>

          <!-- <input ng-file-select="onFileSelect($files)" class="btn btn-info" type="file" id="attachFile" multiple>
          <p class="help-block">Select Pictures</p> -->


        <button type="submit" class="btn btn-success col-xs-3">Thanks</button>
        <span class="col-xs-6"></span>

      </form>
    </div>

    <!-- Nice ProgressBar -->
    <div ng-repeat="file in files" class="progressBar">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{file.progress}}%;">
                {{file.name}} : {{file.progress}}
            </div>
        </div>
        <button class="btn btn-ttc" type="button" ng-click="abort($index)" ng-show="file.progress != 100">Cancel Upload</button>
    </div>
    <!-- end Nice progressBar -->

  </div>
</div>
<!--
<script type="text/javascript">
  var $attach = $('input[id=attachFile]');
  var $input = $('#photoCover');
  $attach.change(function() {
  // alert( "Probando momento del evento" );
  $input.val($attach.val());
  // console.log($attach.val());
  });
  console.log($attach.val());
</script> -->
