$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Questrial|Ubuntu:400,300italic|Architects+Daughter);

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#banner {
  background: #65a36d;
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-family: 'Architects Daughter';
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#banner p {
  font-family: 'Questrial';
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    font-family: 'Questrial';
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'grappWall/grappWall.scss';
@import 'main/main.scss';
@import 'newGrapp/newGrapp.scss';
@import 'profile/profile.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
