<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div ng-repeat="grapp in newGrapps | orderBy : '-timestamp' | limitTo: limit ">
    <div class="grapp-container">

      <div class="name-lockup">
        <img class="avatar" src="{{ grapp.userImg }}">
        <div class="name"> {{ grapp.userName }}<span> @{{ grapp.user }}</span></div>
      </div>

      <blockquote>
        <span>{{ grapp.grapp | limitTo: limitTextGrapp }}<a href ng-click="showMoreText(grapp.grapp)" ng-show="showTextGrapp"><span> expand </span></a></span>
      </blockquote>

      <div class="actions">
        <!-- <i class="icon-reply glyphicon glyphicon-reply"> Reply</i> -->
        <a href="#"><i class="icon-rethanks glyphicon glyphicon-retweet"> ReThanks!</i></a>
        <a href="#"><i class="icon-star glyphicon glyphicon-star"> Favorited</i></a>
        <a href="#"><i class="icon-ellipsis-horizontal glyphicon glyphicon-plus-sign"> More</i></a>
      </div>

      <time>{{ grapp.timestamp | date:'MMM-dd-yyyy - HH:MM'}}</time>
    </div>
  </div>

  <a href ng-click="incrementLimit()">
  <div class="btn btn-success btn-lg" id="showMore">
    See More Grapps!
  </div>
  </a>
</div>
