<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <p class="title">This is {{getCurrentUser().name}}'s profile</p>
  <h3>User email: {{getCurrentUser().email}}</h3>
  <h3>User provider: {{getCurrentUser().provider}}</h3>
  <h3>user id: {{getCurrentUser()._id}}</h3>
  <h3>user role: {{getCurrentUser().role}}</h3>

  <div class="">
    <h3>user image from {{ getCurrentUser().provider }}</h3>
    <img class="profile-pic" src="{{ getCurrentUser().img }}" alt="">
  </div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Change Password</h1>
      </div>
      <div class="col-sm-8">
        <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

          <div class="form-group">
            <label>Current Password</label>

            <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                   mongoose-error/>
            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.other }}
            </p>
          </div>

          <div class="form-group">
            <label>New Password</label>

            <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                   ng-minlength="3"
                   required/>
            <p class="help-block"
               ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
              Password must be at least 3 characters.
            </p>
          </div>

          <p class="help-block"> {{ message }} </p>

          <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
        </form>
      </div>
    </div>
  </div> -->


</div>
